.button {
  border: none;
  box-shadow: none;
  background: none;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 6px;
}
.button:hover {
  border: 1px solid #d0d7de;
}
.selected {
  background: #0969da;
  color: #fff;
}
.blueButton {
  color: #0969da;
}

.blueButton:disabled {
  color: #d0d7de;
}

.blueButton:disabled:hover {
  border: none;
}
