.header {
  display: flex;
  padding: 16px 32px;
  background: rgb(246, 248, 250);
  box-shadow: inset 0 -px 0 hsla(210, 18%, 87%, 1);
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(27, 31, 36, 0.15);
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 3px;
}
.buttonContainer {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
}
